/* Universal Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  line-height: 1.44rem;
}

.icon {
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.primary-title {
  font-family: 'Luckiest Guy', sans-serif;
  color: $color-primary-dark;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-shadow: 0 1rem 1.5rem rgba(black, 0.2);
  letter-spacing: 0.25rem;
}

.secondary-title {
  font-size: 2rem;
  color: $color-primary-dark;

  margin: 2rem 0;
  text-shadow: 0 1rem 1.5rem rgba(black, 0.2);
  letter-spacing: 0.25rem;
}

.main {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-page {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://res.cloudinary.com/dnpfrwpiq/image/upload/v1629997256/fleemarket/night-market_cslc5w.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    padding: 0 1rem;
  }

  &__primary-title {
    color: white;
    font-size: 40px;
    letter-spacing: 1px;

    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  &__description {
    color: white;
    font-size: 17px;
    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }

  &__disclaimer {
    color: white;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 1rem;
    @media screen and (max-width: 600px) {
      font-size: 12px;
      padding: 0.5rem 0.75rem;
    }
  }

  &__enter {
    color: white;
    text-decoration: none;
    margin-top: 4rem;
    font-size: 18px;
    padding: 2rem 4rem;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    @media screen and (max-width: 600px) {
      font-size: 14px;
      padding: 1rem 2rem;
      margin-top: 2rem;
    }
  }
}

.user-msg {
  font-size: 1.4rem;
  color: $color-primary-dark;
  background-color: rgba($color-primary, 0.5);
  border: 1px solid rgba($color-primary-dark, 0.75);
  width: 95%;
  padding: 1.5rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
  position: relative;

  @media screen and (min-width: 900px) {
    width: 60rem;
  }

  &--error {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .fas {
    font-size: 2rem;
    color: rgba($color-primary-dark, 0.5);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent;
    position: absolute;
    top: 1.7rem;
    right: 1rem;

    &:hover {
      color: darkred;
    }
  }
}

.error {
  padding: 10rem;
  text-align: center;

  &__text {
    font-size: 2rem;
  }
}

.pagination {
  width: auto;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-right: 5rem;
  align-self: flex-end;

  &__dots {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 0.725rem 0.725rem;
    transition: all 0.2s;
    margin: 0 0.25rem;
    background-color: rgba($color-black, 0.25);
    border-radius: 5px;
  }

  a {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    padding: 1rem;
    transition: all 0.2s;
    margin: 0 0.25rem;
    background-color: rgba($color-black, 0.25);
    border-radius: 5px;

    &:hover,
    &:active,
    &.active {
      color: white;
      background-color: rgba($color-black, 0.5);
      border: none;
      border-radius: 5px;
    }
  }
}
