.btn {
    padding: 1rem 2rem;
    outline: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    border-radius: 10px;
    border: 1px solid rgb(40, 40, 40);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgba(black, .2);
    background-color: lightgray;
    transition: all .2s;
    letter-spacing: 1px;

    &:hover {
        transform: translateY(-2px) scale(1.05);
        box-shadow: 0 1.5rem 1.5rem rgba(black, .2);
        background-color: rgba(39, 60, 44, .95);
        color: #FFF;

    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 1.25rem 1.75rem rgba(black, .2);
    }
}
