.cart {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media screen and (max-width: 1200px) {
    width: 75%;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  &__total {
    text-align: right;
    font-size: 1.8rem;
    color: $color-black;
  }

  .cart-item {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $border;
    border-radius: 8px;
    margin-bottom: 3rem;
    color: $color-black;
    transition: all 0.2s;

    &:hover {
      box-shadow: $box-shadow;
    }

    &__title {
      font-weight: 400;
      margin-top: 1rem;
    }

    &__image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 2rem;
    }

    &__image {
      height: 50px;
      border-radius: 5px;
    }

    &__description {
      width: 30%;
      font-size: 1rem;
    }

    &__price {
      font-size: 1.6rem;
      margin-right: 2rem;
      font-weight: 400;
    }

    &__qty {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 400;
      position: relative;

      &--num {
        border: 1px solid rgba($color-primary-dark, 0.5);
        padding: 1rem 2rem;
        border-radius: 50%;
      }

      &--button {
        font-size: 2rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: rgba($color-primary-dark, 1);
        position: absolute;
        transition: all 0.2s;

        &:hover {
          color: rgba($color-primary-dark, 0.75);
        }

        &#decBtn {
          top: 1.6rem;
          left: -2.5rem;
          opacity: 1;
        }
        &#incBtn {
          top: 1.6rem;
          left: 5.75rem;
          opacity: 1;
        }
      }
    }

    &__actions {
      margin-right: 2rem;
      &--remove {
        font-size: 2rem;
        color: rgba($color-primary-dark, 0.5);
        border: none;
        cursor: pointer;
        transition: all 0.2s;
        background-color: transparent;

        &:hover {
          color: darkred;
        }
      }

      &--check {
        font-size: 2rem;
        color: rgba($color-primary-dark, 0.8);
      }
    }
  }
}
