.card {
  min-width: 30rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(white, 1);
  border: 1px solid rgba($color-black, 0.1);
  border-radius: 5px;
  transition: all 0.2s;
  padding: 2rem;
  position: relative;

  &:hover {
    box-shadow: 0 5px 8px rgba($color-black, 0.1);
    .cart-btn {
      top: 0.5rem;
      opacity: 1;
    }
  }

  &__header {
    padding-left: 1rem;
    small {
      font-size: 1.1rem;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 50%;
    max-height: 175px;
    @media only screen and (max-width: 600px) {
      width: 75%;
    }
    img {
      height: 175px;
      width: auto;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__price {
    text-align: right;
    color: $color-black;
    margin-bottom: 0.5rem;
  }

  &__content {
    margin: 0 auto;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__description {
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;
  }

  &__actions {
  }

  &__admin {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;

    &--edit {
      margin-right: 1rem;
      background-color: transparent;
    }

    &--delete {
      background-color: transparent;
    }
  }
}
