.card {
  min-width: 30rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(white, 1);
  border: 1px solid rgba($color-black, 0.1);
  border-radius: 5px;
  transition: all 0.2s;
  padding-bottom: 1rem;
  position: relative;

  &:hover {
    box-shadow: 0 5px 8px rgba($color-black, 0.1);
    .cart-btn {
      top: 0.5rem;
      opacity: 1;
    }
  }

  &__header {
    padding-left: 1rem;
    small {
      font-size: 1.1rem;
    }
  }

  &__image {
    overflow: hidden;
    max-height: 15rem;
    border-radius: 5px 5px 0 0;
    position: relative;
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__price {
    padding-left: 1rem;

    color: $color-black;
    width: min-content;
    margin-bottom: 0.5rem;
  }

  &__content {
  }

  &__description {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    font-size: 1.2rem;
  }

  &__actions {
  }

  &__admin {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;

    &--edit {
      margin-right: 1rem;
      background-color: transparent;
    }

    &--delete {
      background-color: transparent;
      color: hsl(0, 70%, 60%);
    }
  }
}
