.order {
  border: $border;
  transition: all 0.2s;
  border-radius: 10px;
  position: relative;

  &__items {
    text-align: center;
    min-width: 30rem;
    padding: 2rem 4rem;
    margin-bottom: 3rem;

    h1 {
      font-weight: 400;
      margin-bottom: 2rem;
    }

    &--title {
      color: $color-black;
    }

    &--product {
      font-size: 1.2rem;
      color: $color-black;

      &-title {
        font-weight: 600;
        margin-right: 2rem;
      }
    }
  }

  &:hover {
    box-shadow: $box-shadow;
  }

  &__total {
    font-size: 1.1rem;
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}
