.product {
    width: 100%;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    margin: 3rem 0;

    &__title {
        font-size: 2rem;
        font-weight: 400;
    }

    &__price {
        margin-bottom: .5rem;
    }
}