$color-primary-light: rgba(62, 156, 53, 1);
$color-primary: rgba(21, 120, 17, 1);
$color-primary-dark: rgba(8, 79, 9, 1);

$color-black: rgba(0, 0, 0, 0.7);

$background-color: rgba(62, 156, 53, 0.1);

$border: 1px solid rgba(black, 0.25);
$box-shadow: 0 1rem 1.5rem rgba(black, 0.25);
