<form action="/cart" class="cart-btn" method="POST">
  <button type="submit">
    <i class="fas fa-cart-plus"></i>
  </button>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
