<% if (errorMessage.length) { %> 
    <div class="user-msg user-msg--error">
        <% errorMessage.forEach(error => { %> 
            <%= error?.msg %><br>
        <% }); %> 
    </div>
<% } else if (successMessage.length) { %> 
    <div class="user-msg"><%= successMessage %> </div>
<% } %> 