<%- include('includes/head.ejs'); %> 

</head>
<body>
    <%- include('includes/navigation.ejs'); %> 
    <main class="main">
        <div class="error">
            <h1 class="error__title primary-title">Error 404</h1>
            <p class="error__text">Page Not Found</p>
        </div>
    </main>
    <%- include('includes/end.ejs'); %> 