/* Universal Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #282828;
  background-color: rgba(230, 230, 230, 0.6); }

li, a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  line-height: 1.44rem; }

.icon {
  color: #FFF;
  font-size: 3rem;
  cursor: pointer; }

.primary-title {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  letter-spacing: .25rem; }

.secondary-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  letter-spacing: .25rem; }

.main {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.error {
  padding: 10rem;
  text-align: center; }
  .error__text {
    font-size: 2rem; }

.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(105deg, rgba(39, 60, 44, 0.95) 0%, rgba(39, 60, 44, 0.95) 40%, #626868 60%, #626868 100%); }
  .main-header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem; }
    @media only screen and (max-width: 700px) {
      .main-header__nav {
        padding: 1rem 2rem; } }
    @media only screen and (max-width: 600px) {
      .main-header__nav {
        display: none; } }
  .main-header__navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem; }
  .main-header__nav-item {
    text-transform: uppercase;
    color: #FFF;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 1rem 1rem;
    border-radius: 6px;
    transition: all .2s;
    cursor: pointer; }
    .main-header__nav-item:not(:last-child) {
      margin-right: 1rem; }
    .main-header__nav-item:hover, .main-header__nav-item :active {
      background-color: #FFF;
      color: #626868; }
    @media only screen and (max-width: 800px) {
      .main-header__nav-item {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 700px) {
      .main-header__nav-item {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 600px) {
      .main-header__nav-item {
        font-size: 1.2rem; } }

.active {
  background-color: #FFF; }
  .active a {
    color: #626868; }

.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border: 1px solid #282828;
  border-radius: 10px;
  padding: 4rem 4rem;
  background-image: linear-gradient(to bottom, rgba(39, 60, 44, 0.95) 0%, rgba(39, 60, 44, 0.95) 40%, #626868 60%, #626868 100%);
  background-color: rgba(39, 60, 44, 0.5);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4); }
  .product-form__control {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%; }
    .product-form__control input {
      background-color: #e6e6e6;
      border-radius: 3px;
      border: 1px solid #282828;
      padding: .5rem 1rem;
      outline: none; }
    .product-form__control label {
      color: #FFF;
      text-transform: uppercase;
      font-size: 1.2rem; }
    .product-form__control textarea {
      width: 100%;
      max-width: 100%;
      background-color: #e6e6e6;
      border-radius: 3px;
      border: 1px solid #282828;
      padding: .5rem 1rem;
      outline: none;
      resize: none; }

.product {
  width: 100%;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, min-content));
  justify-content: center;
  align-content: center;
  gap: 3rem;
  margin: 2rem 0; }
  .product__title {
    font-size: 2rem;
    font-weight: 400; }
  .product__price {
    margin-bottom: .5rem; }

.btn {
  padding: 1rem 2rem;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  border-radius: 10px;
  border: 1px solid #282828;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  transition: all .2s;
  letter-spacing: 1px; }
  .btn:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    background-color: rgba(39, 60, 44, 0.95);
    color: #FFF; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 1.25rem 1.75rem rgba(0, 0, 0, 0.2); }

@media only screen and (min-width: 601px) {
  .mobile-nav {
    display: none; }
  #side-menu-toggle {
    display: none; } }

@media only screen and (max-width: 600px) {
  .mobile-nav {
    width: 25rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
    padding: 2rem 1rem 1rem 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out; }
  .mobile-nav.open {
    transform: translateX(0); }
  .mobile-nav__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; }
  .mobile-nav__item {
    margin: 1rem;
    padding: 0; }
  .mobile-nav__item a {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    color: black;
    font-weight: 300; }
  .mobile-nav__item a:active,
  .mobile-nav__item a:hover,
  .mobile-nav__item a.active {
    background: rgba(39, 60, 44, 0.95);
    color: white;
    border-radius: 10px; }
  #side-menu-toggle {
    margin: 0 2rem;
    font-size: 2.5rem;
    color: white;
    cursor: pointer; }
  #side-menu-toggle:focus {
    outline: none; }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none; } }

.card {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 0;
  border-radius: 10px;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .card__header {
    margin-bottom: 1rem; }
  .card__image {
    margin-bottom: 1rem; }
    .card__image img {
      border-radius: 5px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4); }
  .card__content {
    text-align: center;
    width: 70%;
    margin-bottom: 2rem; }
  .card__description {
    font-size: 1.2rem; }
  .card__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .card__actions :first-child {
      margin-bottom: 1rem; }
  .card__admin :first-child button {
    background-color: darkgray; }
  .card__admin :last-child button {
    background-color: #e05252; }

.mt-lg {
  margin-top: 3rem; }

.mt-md {
  margin-top: 2rem; }

.mt-sm {
  margin-top: 1rem; }

.cart {
  display: flex;
  flex-direction: column;
  width: 50%; }
  .cart__total {
    text-align: right;
    font-size: 1.4rem; }
  .cart .cart-item {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem; }
    .cart .cart-item__title {
      margin-left: 2rem;
      font-weight: 400; }
    .cart .cart-item__description {
      width: 20%;
      font-size: 1rem; }
    .cart .cart-item__price {
      font-size: 1.4rem;
      margin-right: 2rem;
      font-weight: 600; }
    .cart .cart-item__qty {
      font-size: 1.4rem;
      font-weight: 400; }
    .cart .cart-item__icon {
      color: rgba(0, 0, 0, 0.6); }
      .cart .cart-item__icon:first-of-type {
        margin-right: .5rem; }
      .cart .cart-item__icon:last-of-type {
        margin-left: .5rem; }
    .cart .cart-item__actions--remove {
      border: none;
      outline: none;
      margin-right: 2rem;
      cursor: pointer;
      font-size: 2rem; }
