/* Universal Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  line-height: 1.44rem; }

.icon {
  color: #fff;
  font-size: 3rem;
  cursor: pointer; }

.primary-title {
  font-family: 'Luckiest Guy', sans-serif;
  color: #084f09;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  letter-spacing: 0.25rem; }

.secondary-title {
  font-size: 2rem;
  color: #084f09;
  margin: 2rem 0;
  text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  letter-spacing: 0.25rem; }

.main {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.index-page {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dnpfrwpiq/image/upload/v1629997256/fleemarket/night-market_cslc5w.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 600px) {
    .index-page {
      padding: 0 1rem; } }
  .index-page__primary-title {
    color: white;
    font-size: 40px;
    letter-spacing: 1px; }
    @media screen and (max-width: 600px) {
      .index-page__primary-title {
        font-size: 18px; } }
  .index-page__description {
    color: white;
    font-size: 17px; }
    @media screen and (max-width: 600px) {
      .index-page__description {
        font-size: 12px; } }
  .index-page__disclaimer {
    color: white;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 1rem; }
    @media screen and (max-width: 600px) {
      .index-page__disclaimer {
        font-size: 12px;
        padding: 0.5rem 0.75rem; } }
  .index-page__enter {
    color: white;
    text-decoration: none;
    margin-top: 4rem;
    font-size: 18px;
    padding: 2rem 4rem;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.2s; }
    .index-page__enter:hover {
      background-color: rgba(255, 255, 255, 0.5); }
    @media screen and (max-width: 600px) {
      .index-page__enter {
        font-size: 14px;
        padding: 1rem 2rem;
        margin-top: 2rem; } }

.user-msg {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(75, 181, 67, 0.5);
  border: 1px solid rgba(75, 181, 67, 0.75);
  width: 95%;
  padding: 1.5rem;
  border-radius: 5px;
  text-align: center; }
  @media screen and (min-width: 900px) {
    .user-msg {
      width: 60rem; } }
  .user-msg--error {
    background-color: rgba(255, 0, 0, 0.4);
    border: 1px solid rgba(255, 0, 0, 0.6); }

.error {
  padding: 10rem;
  text-align: center; }
  .error__text {
    font-size: 2rem; }

.pagination {
  width: auto;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-right: 5rem;
  align-self: flex-end; }
  .pagination__dots {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 0.725rem 0.725rem;
    transition: all 0.2s;
    margin: 0 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px; }
  .pagination a {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    padding: 1rem;
    transition: all 0.2s;
    margin: 0 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px; }
    .pagination a:hover, .pagination a:active, .pagination a.active {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 5px; }

@media only screen and (min-width: 601px) {
  .mobile-nav {
    display: none; }
  #side-menu-toggle {
    display: none; } }

@media only screen and (max-width: 600px) {
  .mobile-nav {
    width: 25rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
    padding: 2rem 1rem 1rem 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out; }
  .mobile-nav.open {
    transform: translateX(0); }
  .mobile-nav__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; }
  .mobile-nav__item {
    margin: 1rem 0;
    padding: 0; }
  .mobile-nav__item a {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 300; }
  .mobile-nav__item button {
    text-transform: uppercase;
    background-color: #FFF;
    border: none;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 300;
    font-family: inherit;
    cursor: pointer; }
    .mobile-nav__item button:hover, .mobile-nav__item button:active, .mobile-nav__item button.active {
      background: rgba(39, 60, 44, 0.95);
      color: white;
      border-radius: 10px; }
  .mobile-nav__item a:active,
  .mobile-nav__item a:hover,
  .mobile-nav__item a.active {
    background: rgba(39, 60, 44, 0.95);
    color: white;
    border-radius: 10px; }
  #side-menu-toggle {
    margin: 0 2rem;
    font-size: 2.5rem;
    color: white;
    cursor: pointer; }
  #side-menu-toggle:focus {
    outline: none; }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none; } }

.mt-lg {
  margin-top: 3rem; }

.mt-md {
  margin-top: 2rem; }

.mt-sm {
  margin-top: 1rem; }

.mb-lg {
  margin-bottom: 3rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-sm {
  margin-bottom: 1rem; }

.center-text {
  text-align: center; }

.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #084f09; }
  .main-header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; }
    .main-header__nav-brand {
      font-family: 'Luckiest Guy', sans-serif;
      font-size: 2rem;
      letter-spacing: 1px;
      color: white; }
    .main-header__nav i {
      color: white;
      font-size: 3rem;
      margin-right: 1rem; }
    @media only screen and (max-width: 700px) {
      .main-header__nav {
        padding: 1rem 2rem; } }
    @media only screen and (max-width: 600px) {
      .main-header__nav {
        display: none; } }
  .main-header__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem; }
  .main-header__nav-item {
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer; }
    .main-header__nav-item:hover {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25); }
    @media only screen and (max-width: 900px) {
      .main-header__nav-item {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 800px) {
      .main-header__nav-item {
        font-size: 1.2rem;
        margin: 1.5rem 1rem 0.5rem 1rem; } }
    @media only screen and (max-width: 700px) {
      .main-header__nav-item {
        font-size: 1.1rem; } }
    .main-header__nav-item button {
      font-size: 1.4rem;
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      font-family: 'Raleway', sans-serif;
      border-left: 1px solid white;
      padding-left: 1rem; }

.active {
  background-color: rgba(255, 255, 255, 0.25); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 1px solid #282828;
  border-radius: 10px;
  padding: 4rem 4rem;
  background-image: linear-gradient(to bottom, rgba(39, 60, 44, 0.95) 0%, rgba(39, 60, 44, 0.95) 40%, #626868 60%, #626868 100%);
  background-color: rgba(39, 60, 44, 0.5);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 1000px) {
    .form {
      width: 50%; } }
  @media only screen and (max-width: 800px) {
    .form {
      width: 75%; } }
  @media only screen and (max-width: 600px) {
    .form {
      width: 90%; } }
  .form__control {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%; }
    .form__control .invalid {
      border: 2px solid red; }
    .form__control input {
      background-color: #e6e6e6;
      border-radius: 3px;
      border: 1px solid #282828;
      padding: .5rem 1rem;
      outline: none; }
    .form__control label {
      color: #FFF;
      text-transform: uppercase;
      font-size: 1.2rem; }

.form__control textarea {
  width: 100%;
  max-width: 100%;
  background-color: #e6e6e6;
  border-radius: 3px;
  border: 1px solid #282828;
  padding: .5rem 1rem;
  outline: none;
  resize: none; }

.btn {
  padding: 1rem 2rem;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(40, 40, 40, 0.8);
  border-radius: 10px;
  border: 1px solid rgba(40, 40, 40, 0.2);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 1px; }
  .btn.btn-lg {
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgba(39, 60, 44, 0.95); }
  .btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    background-color: rgba(39, 60, 44, 0.95);
    color: #fff; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 1.25rem 1.75rem rgba(0, 0, 0, 0.2); }

.cart-btn {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  position: absolute;
  top: 4rem;
  opacity: 0;
  right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s; }
  .cart-btn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .cart-btn button {
    font-size: 2rem;
    color: #084f09;
    border: none;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: absolute;
    cursor: pointer;
    left: -2px;
    top: 1px; }
    .cart-btn button .fas {
      margin: 0 auto; }

.product {
  width: 100%;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, min-content));
  justify-content: center;
  align-content: center;
  gap: 3rem;
  margin: 2rem 0; }

.card {
  min-width: 30rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.2s;
  padding-bottom: 1rem;
  position: relative; }
  .card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); }
    .card:hover .cart-btn {
      top: 0.5rem;
      opacity: 1; }
  .card__header {
    padding-left: 1rem; }
    .card__header small {
      font-size: 1.1rem; }
  .card__image {
    overflow: hidden;
    max-height: 15rem;
    border-radius: 5px 5px 0 0;
    position: relative;
    margin-bottom: 2rem; }
    .card__image img {
      width: 100%; }
  .card__title {
    font-size: 1.6rem;
    font-weight: 400; }
  .card__price {
    padding-left: 1rem;
    color: rgba(0, 0, 0, 0.75);
    width: min-content;
    margin-bottom: 0.5rem; }
  .card__description {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    font-size: 1.2rem; }
  .card__admin {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem; }
    .card__admin--edit {
      margin-right: 1rem;
      background-color: transparent; }
    .card__admin--delete {
      background-color: transparent;
      color: #e05252; }

.cart {
  display: flex;
  flex-direction: column;
  width: 50%; }
  @media screen and (max-width: 1200px) {
    .cart {
      width: 75%; } }
  @media screen and (max-width: 900px) {
    .cart {
      width: 100%; } }
  .cart__total {
    text-align: right;
    font-size: 1.4rem; }
  .cart .cart-item {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem; }
    .cart .cart-item__title {
      margin-left: 2rem;
      font-weight: 400; }
    .cart .cart-item__description {
      width: 20%;
      font-size: 1rem; }
    .cart .cart-item__price {
      font-size: 1.4rem;
      margin-right: 2rem;
      font-weight: 600; }
    .cart .cart-item__qty {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400; }
      .cart .cart-item__qty--button {
        font-size: 2rem;
        font-weight: 700;
        border: none;
        cursor: pointer;
        color: rgba(39, 60, 44, 0.8); }
        .cart .cart-item__qty--button:hover {
          color: darkred; }
        .cart .cart-item__qty--button:first-of-type {
          font-size: 2.4rem;
          margin-right: 1.2rem; }
        .cart .cart-item__qty--button:last-of-type {
          margin-left: 1rem; }
    .cart .cart-item__actions {
      margin-right: 2rem; }
      .cart .cart-item__actions--remove {
        font-size: 2rem;
        color: rgba(39, 60, 44, 0.8);
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .2s; }
        .cart .cart-item__actions--remove:hover {
          color: darkred; }
      .cart .cart-item__actions--check {
        font-size: 2rem;
        color: rgba(39, 60, 44, 0.8); }

.order__items {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  min-width: 30rem;
  padding: 2rem 4rem;
  margin-bottom: 3rem; }
  .order__items h1 {
    font-weight: 400;
    margin-bottom: 2rem; }
  .order__items--product {
    font-size: 1.2rem; }
    .order__items--product-title {
      font-weight: 600;
      margin-right: 2rem; }

.order__total {
  text-align: right;
  font-size: 1.1rem; }
