<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <h1 class="primary-title">Orders Page</h1>
    </main>
    <%- include('../includes/end.ejs'); %> 